* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #174880;
}

.navsearch {
    width: 90%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 25px;
}

nav .logo i {
    color: #fff;
}

nav .logo {
    color: white;
}

.navlink ul {
    display: flex;
}

.navlink ul li {
    list-style: none;
    margin-left: 20px;
}

.navlink ul li a {
    text-decoration: none;
    color: #fff;
}

.bell-icon {
    position: relative;
}

.bell-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border: 2px solid #174880;
    border-radius: 50%;
    position: absolute;
    top: 4px ;
    left: -10px;
    opacity: .9;
}

.fa-bell {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 4px;
    right: 60px;
}

/* navimg bell-icon check it */
.nav-img {
    /* display: flex; */
    position: relative;
    /* align-items: center; */
}

/* .navimg img{
    position: absolute;
    align-items: center;
    display: flex;
    top: -10px;
} */

.nav-img img {
    border-radius: 50%;
    margin-left: 10px;
}

/* 5 button start here */
.icons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    bottom: -25px;
    position: relative;
    box-shadow: 0 0 10px rgba(209, 207, 207, 0.438);
}

.icon-btn {
    width: 90%;
    border: none;
    background-color: rgba(209, 207, 207, 0.438);
    margin-left: 8px;
    border-radius: 5px;
    padding: 10px 57px 10px 10px;
    cursor: pointer;
}

button {
    text-align: left;
}

button i {
    margin: 0 8px;
    color: rgba(134, 131, 131, 0.904);
}

.search-btn {
    width: 30%;
    background-color: #174880;
    color: #fff;
    padding: 10px 58px;
    text-align: center;
    margin-right: 8px;
}

/* Main page Section */
    section {
        width: 90%;
        margin: 0 auto;
    }

.main-page-search{
    display: flex;
    justify-content: space-between;
     margin: 60px 0;
}
nav{
    display: flex;
}

/* side bar section */
.sidebar {
    width: 25%;

}

.side-first {
    border-radius: 5px;
    background-color: rgba(212, 208, 208, 0.479);
    padding: 12px;
}

.side-first h2 {
    font-size: 20px;
    padding: 20px 0 10px 8px;
}

.side-first p {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.main-page-search h1 {
    font-size: 20px;
    margin: 10px 0 -10px;
    padding: 0 10px;
}

.side-second {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(212, 208, 208, 0.479);
    border-radius: 5px;
    margin: 10px 0;
}

/* .side-second h2 {
    font-size: 20px;
    padding: 15px 10px;
    background-color: rgba(216, 213, 213, 0.26);
} */


.side-second ul li {
    list-style: none;
    padding: 5px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.side-third {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(212, 208, 208, 0.479);
    border-radius: 5px;
    margin: 20px 0;
}
.side-third h2 {
    font-size: 20px;
    padding: 15px 10px;
    background-color: rgba(212, 208, 208, 0.479);
}

.side-third p{
    background-color: #fff;
   padding: 20px 15px 5px;
  
}
.side-third ul{
    display: flex;
    justify-content: space-between;   
    background-color: #fff;
    border: 1px solid rgba(212, 208, 208, 0.479);
    margin: 0px 15px 20px;
   border-radius: 5px;
}
.side-third ul li{
    list-style: none;
    display: flex;
    padding: 5px 10px;
    border-right: 1px solid rgba(212, 208, 208, 0.479);
}
.side-third ul li:nth-child(5){
    border-right: none;
}
.side-third ul li i{
   color: rgb(255, 145, 0);
   padding: 0 3px;
   }
/*  */
.side-fourth {
    background-color: #fff;
    border: 1px solid rgba(212, 208, 208, 0.479);
    border-radius: 5px;   
    margin: 20px 0;
}
.side-fourth h2{
    background-color: rgba(212, 208, 208, 0.479) ;
   border-top-left-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 10px;
    font-size: 20px;
   
}

.finaly {
    display: flex;  
    justify-content: space-between; 
    padding: 0 16px;
}
.list{
    display: flex;
    padding: 5px 0;
}
.two div{
    text-align: right;
    padding: 5px 0;
  
}
.two div i{
      color: rgba(134, 131, 131, 0.904) ;
      font-size: 20px;
}


/* main page Section */

.mainpage {
    width: 74%;
}

.mainpage h3 {
    margin: 20px 0;
}

.mainpage .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.mainpage .row1 {
    width: 70%;
    display: flex;
    align-items: center;
    border: 1px solid #174880;
    border-radius: 5px;

}

.mainpage .row1 p {
    padding: 12px;
    /* margin-left: 15px; */
    border-right: 1px solid #174880;

}

.row1 p:nth-child(1) {
    color: #174880;
    background-color: aliceblue;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.row1 p:nth-child(5) {
    border-right: none;
}

.mainpage .row2 {
    width: 20%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 4px 8px;
}

.mainpage .row2 p {
    font-size: 13px;
    color: darkgray;
}
.mainpage .row2 p i {
    font-size: 20px;
    color: darkgray;
   position: relative;
   top: -6px;
   right: -30px;
}

.mainpage .row2 p span {
    font-size: 16px;
    color: black;
}

/* blog start */
.blog-section {
    /* margin-bottom: 20px; */
}

.blog {
    width: 100%;
    display: flex;
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

/* .blog-img{
    width: 33%;
} */

.blog-img img {
    border-radius: 5px;
}

.blog-content {
    margin-left: 10px;
}

.blog-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.blog-content p {
    padding: 4px;
    font-size: 15px;
}
.blog-content p i{
  color: rgb(255, 145, 0);
}

.blog-btn {

    background-color: #174880;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin: 10px 8px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

/* .blog-content-last{
    margin: 0 10px 0 0;
} */
.blog-content-last ul li {
    list-style: none;
    text-align: right;
    margin: 3px 0;
    font-size: 15px;
    position: relative;
    right: 5px;

}

.blog-content-last ul li:nth-child(1) {

    background-color: rgb(243, 82, 82);
    color: #fff;
    padding: 4px 5px;
    font-size: 11px;
    border: none;
    border-radius: 4px;
    margin-bottom: 50px;
}

.blog-content-last ul li:nth-child(2) {
    background-color: green;
    color: #fff;
    border-radius: 3px;
    margin-left: 105px;
}

.blog-content-last-extra ul li {
    list-style: none;
    text-align: right;
    margin: 3px 0;
    font-size: 15px;
    position: relative;
    bottom: -120px;
    right: 5px;
}

.blog-content-last-last ul li {
    list-style: none;
    text-align: right;
    margin: 3px 0;
    font-size: 15px;
    position: relative;
    bottom: -90px;
    right: 5px;
    margin-bottom: 0;
}

/* warning section start */

.warning {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    background-color: rgb(245, 221, 145);
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.warning p i {
    margin: 0 10px;
}

.warning .fa-exclamation-triangle {}

.warning a {
    text-decoration: none;
    color: #174880;
}


/* Footer Section */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer .move-one-step {
    padding: 0 0 0 22px;
}

.footer h2 {
    padding: 20px 0;
}

.footer ul li {
    list-style: none;
    padding: 5px 0;
}

.footer ul li a {
    text-decoration: none;
    color: #000;
}

.footer .one i {
    color: #174880;
    padding-top: 25px;
}